Django==1.11.28
psycopg2-binary==2.7.4
djangorestframework==3.7.7
djangorestframework-jwt==1.11.0
django-cors-headers==2.0.0
gunicorn==19.7.1
boto==2.48.0
Markdown==2.6.11 # DRF documentation requirement dependency
django-storages==1.6.5 # to upload files and documents
Pillow==5.0.0 # Image field requires it.
pycryptodome==3.4.11 # for encryption and decryption
django-cors-headers==2.0.0
gunicorn==19.7.1 # gunicorn
firebase-admin==2.10.0
oauth2==1.9.0.post1
python-dateutil==2.7.3 # python datetime
requests==2.18.4 # used to reading file from listhub
google-cloud-storage==1.8.0
django-allauth==0.35.0 #authentication